@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Track all your clients' vehicles!</h1>
    <img src="./Img/CarsList.jpg" style="width: 80%; margin-top: 50px"/>
   
</div>
